/* alignment of app */
.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation-duration: 2s;
    animation-name: slidein;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: auto;
  }

  to {
    margin-left: 0%;
    width: auto;
  }
}

.white {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  height: 100%;
  padding-bottom: 90px;
  margin-top: 1.5rem;
}

/* TODO LIST */
.taskstoggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 70px;
  width: 100%;
}

.foryoucontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  width: 50%;
  background-color: #242C6A;
  border-radius: 5px;
}

.foryou {
  color: white;
  font-family: 'ubunturegular';
  margin-left: 27px;
}

.everyone {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 75%;
  width: 43%;
  background-color: white;
  border-radius: 4px;
  margin-right: 5px;
}

p#taskstog-1 {
  color: #242C6A;
  font-family: 'ubunturegular';
}

span.check {
  color: #242C6A;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}

span.moreopt {
  position: absolute;
  width: 100%;
  height: auto;
  margin-left: 90%;
  color: #FFA100;
  font-size: 30px;
}

div.todoItem {
  font-family: 'ubunturegular';
  background-color: #EDEFFA;
  border-radius: 10px;
  width: 80%;
  height: 87px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* task navigation */
ul.tasknav {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-family: 'ubunturegular';
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgb(194, 194, 194);
}

.tasknav a {
  color:#242C6A;
  display: inline-block;
  padding: 10px 10px 10px 10px;
}

/* toggle on task page */
.toggle-taskopt {
  display: flex;
  flex-direction: row;
  text-align: left;
  width: 100%;
  padding: 15px 15px;
}

.toggle-taskopt p {
  padding: 10px;
}

.toggle-taskopt #mytask {
  color: #A4A9D6;
  font-family: 'ubunturegular';
  font-size: 18px;
}

.toggle-taskopt #all {
  color: #242C6A;
  font-family: 'ubuntubold';
  font-size: 18px;
}

/* links */
a { 
  text-decoration: none; 
  list-style: none;
}
a:visited { text-decoration: none; }

a:hover { 
  text-decoration: none; 
  color: #242C6A;
}
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

.App-link {
  font-family: 'ubunturegular';
  color: white;
}

.App-link p {
  line-height: 10px;
  font-size: 20px;
}

/* headings */
h2 {
  font-family: 'ubuntubold';
  font-size: 40px;
  padding: 0;
  margin: 0;
}

.taskwelcome {
  text-align: left;
  width: 100%;
  padding: 20px 30px;
}

h2.taskwelcometxt {
  font-size: 35px;
  color: #242C6A;
}

h3 {
  font-size: 18px;
}

/* login */
.loginContainer {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 1.5rem;
}

/* align labels + inputs to left */
.inputs {
  display: inline-flex;
  flex-direction: column;
  margin: .8rem;
}

.inputs label {
  text-align: left;
  margin: 1rem 0;
}

/* text */
.name label {
  font-size: 18px;
}

.btnContainer {
  margin-top: 2rem;
}

p#loginopt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  line-height: 30px;
}

p#loginopt span {
  margin: 0;
}

input.logininput {
  background-color: white;
  outline: none;
  border: 2px solid #868FC3;
  padding: 10px;
}

input[type=text] {
  font-size: 20px;
}

input[type=password] {
  font-size: 20px;
}

/* Buttons */
.pinkbtn {
  background-color: #F14F5E;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50px;
  font-size: 18px;
  font-family: 'ubuntubold';
  bottom: 0;
  outline: none;
  padding: 15px 40px;
  z-index: -1;
}

/* INSIGHTS */
.cardoutline {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  perspective: 1px;
  height: 370px;
  width: 330px;
  margin-top: 20px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  z-index: -1;
}

.cardheader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F1F3FF;
  height: 40px;
  width: 100%;
  overflow: hidden;
}

.cardheader p {
  font-family: 'ubuntubold';
}

.insightslide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 220px;
  height: 20px;
  width: 100%;
}

.insightslide p {
  font-family: 'ubuntubold';
}

.insightslide svg {
  color: #F6A417;
  height: 30px;
  width: 30px;
}

.insightcontent {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 250px;
  margin-right: 170px;
  height: 200px;
  width: 50%;
}

.insightalign {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'ubuntubold';
}

.insightcontent2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 250px;
  margin-left: 160px;
  height: 200px;
  width: 50%;
}

.insightcontent svg {
  height: 50px;
  width: 50px;
  color: #242C6A;
  padding: 5px;
}

.insightcontent2 svg {
  height: 50px;
  width: 50px;
  color: #242C6A;
  padding: 5px;
}

/* Number of Tasks Completed */
.tooltip {
  width: 80px;
  height: 30px;
  text-align: center;
  font-size: 40px;
  font-family: 'ubunturegular';
  line-height: 30px;
  font-weight: 200;
  color: #000;
  position: absolute;
  left: 50%;
  bottom: 50px;
  margin: -40px;
}

.multigraph {
  display: inline-flex;
  justify-content: center;
  width: 300px;
  height: 120px;
  position: absolute;
  margin-top: 60px;
}

.multigraph:before {
  content: '';
  width: 200px;
  height: 120px;
  position: absolute;
  border: 30px solid rgba(0,0,0,0.1);
  border-radius: 300px 300px 0 0;
  border-bottom: none;
}

.graph {
  width: 300px;
  height: 150px;
  position: absolute;
  overflow:hidden;
}

/* Effort Distribution */
.cardoutline2 {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  perspective: 1px;
  height: 460px;
  width: 330px;
  margin-top: 40px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  z-index: -1;
}

.insightcontent3 {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 340px;
  margin-right: 170px;
  height: 200px;
  width: 50%;
}

.insightcontent4 {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 340px;
  margin-left: 160px;
  height: 200px;
  width: 50%;
}

.insightcontent3 svg {
  height: 50px;
  width: 50px;
  color: #242C6A;
  padding: 5px;
}

.insightcontent4 svg {
  height: 50px;
  width: 50px;
  color: #242C6A;
  padding: 5px;
}

.pie-chart {
  position: absolute;
  margin-top: 60px;
  width: 250px;
  height: 250px;
  background: conic-gradient(#F14F5E 0% 25%, #F7D720 25% 50%, #DFEFE4 50% 75%, #242C6A 75% 100%);
  border-radius: 50%;
}

/* fonts */
@font-face {
    font-family: 'ubuntubold';
    src: url('fonts/ubuntu-bold-webfont.woff2') format('woff2'),
         url('fonts/ubuntu-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubunturegular';
    src: url('fonts/ubuntu-regular-webfont.woff2') format('woff2'),
         url('fonts/ubuntu-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face{
  font-family: 'light';
  src: url(fonts/AirbnbCerealLight.woff) format('woff');
}

@font-face{
  font-family: 'book';
  src: url(fonts/AirbnbCerealBook.woff) format('woff');
}

@font-face{
  font-family: 'medium';
  src: url(fonts/AirbnbCerealMedium.woff) format('woff');
}

@font-face{
  font-family: 'bold';
  src: url(fonts/AirbnbCerealBold.woff) format('woff');
}